.introduction {
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: fit-content;
    padding-top: 90px;
    margin-top: 50px;

    padding: 80px;
}

@media screen and (max-width: 500px) {
    .introduction {
    width: fit-content;
    margin: auto;
    padding: 5px;
    padding-top: 100px;
    font-size:smaller;

    }
  }